:root {
  --myblack: #161616;
  --myyellow: #eeba2c;
}

*{
  margin: 0;
  padding: 0;
}

#root{
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
}

body{
  background-color: var(--myblack);
  margin: 0 auto;
}